@font-face {
    font-family: "For The Glory of Helghan"; /* Define the font family name */
    src: url("assets/For-The-Glory-of-Helghan.woff") format("woff"); /* Path to your font file */
    font-weight: normal; /* Optional: specify the font weight */
    font-style: normal; /* Optional: specify the font style */
}

body {
    background-color: #1b0000;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("assets/background_backup.png");
    background-attachment: fixed;
    color: #ff3217; /* Bright red text */
    font-family: "For The Glory of Helghan", sans-serif;
    font-size: 9px;
    overflow: hidden;
    user-select: none;
    line-height: 20px;
    cursor: url('assets/cursor_normal.png'), auto; /* Custom cursor for body */

    text-shadow:
            0 0 10px rgba(255, 47, 0, 0.5), /* Larger red glow */
            0 0 15px rgba(255, 0, 0, 0.3); /* Further larger glow */
}

#output {
    font-family: "For The Glory of Helghan", sans-serif;
    letter-spacing: 5px;
    white-space: pre-wrap; /* Use pre-wrap to respect whitespace and newlines */
    margin: 20px;
    padding: 20px;
    border: 1px solid #000;
    height: 200px;
    overflow-y: auto; /* Enable vertical scrolling */
}

#console {
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    white-space: pre-line; /* Preserve whitespace */
    border: 1px solid #390000;
    cursor: url('assets/cursor_normal.png'), auto; /* Custom cursor for console */

    overflow: auto; /* Consider setting to auto if you want scrolling */
}

#output {
    height: auto;
    border: none; /* This is fine as is */
}
