:root {
    --main-bg-color: #000;
    --main-text-color: #e5dec6;
    --hover-bg-color: rgba(255, 0, 0, 0.25);
    --hover-border-color: #c50000;
    --hover-shadow-color: red;
    --font-family-primary: "For-The-Glory-of-Helghan", sans-serif;
    --font-family-secondary: "Klavika", sans-serif;
    --font-size-large: 40px;
    --font-size-medium: 20px;
    --font-size-small: 15pt;
    --border-color-light: #e5dec6;
    --border-color-dark: rgba(255, 0, 0, 0.27);
    --border-color-white: rgba(255, 255, 255, 0.68);
    --shadow-color: red;
    --cube-size: 25px;
}

body {
    margin: 0;
    background-color: var(--main-bg-color);
    color: var(--main-bg-color);
    font-family: var(--font-family-secondary);
    background-image: url("assets/background_empty.png");
    background-size: cover;
    user-select: none;
    cursor: url('assets/cursor_normal.png'), auto;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

@font-face {
    font-family: "For-The-Glory-of-Helghan";
    src: url("assets/For-The-Glory-of-Helghan.woff") format("woff");
}

@font-face {
    font-family: "Klavika";
    src: url("assets/klavika.woff") format("woff");
}

.menu-parent {
    position: absolute;
    left: -1%;
    top: 10%;
    transform-origin: top;
    padding-left: 10px;
}

.menu-container {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.rectangle {
    width: 120px;
    height: 40px;
    margin-right: 10px;
    border: 1px solid var(--border-color-light);
    box-shadow: 0 2px 10px var(--shadow-color);
    position: relative;
}

.cube {
    width: var(--cube-size);
    height: var(--cube-size);
    position: absolute;
    padding-top: 3px;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--border-color-light);
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border-color-light);
    font-family: var(--font-family-primary);
    text-shadow: 0 3px 10px var(--shadow-color);
}

.box23 {
    display: flex;
    position: fixed;
    right: 30px;
    top: 13%;
    transform: translateY(-50%);
    align-items: center;
}

.cube2, .cube3 {
    width: var(--cube-size);
    height: var(--cube-size);
    padding-top: 3px;
    color: var(--border-color-light);
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border-color-light);
    font-family: var(--font-family-primary);
    text-shadow: 0 3px 10px var(--shadow-color);
    margin-left: 5px;
}

.cube4 {
    position: absolute;
    bottom: 50%;
    right: 120%;
    width: var(--cube-size);
    height: var(--cube-size);
    color: var(--border-color-light);
    font-size: 16px;
    display: flex;
    font-family: var(--font-family-primary);
    text-shadow: 0 3px 8px var(--shadow-color);
}

.cube5 {
    font-family: var(--font-family-primary);
    font-size: 6pt;
    letter-spacing: 2px;
    position: fixed;
    width: 200%;
    color: rgba(255, 60, 0, 0.2);
    right: 120px;
    bottom: 20px;
}

.menu-text {
    font-size: var(--font-size-large);
    color: var(--main-text-color);
    padding: 0 10px 0 1px;
    text-shadow: 0 5px 10px var(--shadow-color);
}

.menu-rectangle {
    display: flex;
    border-right: 1px solid var(--border-color-light);
    border-top: 1px solid var(--border-color-light);
    border-bottom: 1px solid var(--border-color-light);
    width: 3px;
    height: 38px;
    box-shadow: 0 5px 10px var(--shadow-color);
}

.button-container-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 150px;
}

.campaign-button-container,
.about-button-container {
    margin-left: 150px;
    margin-top: 50px;
    display: none;
}

.menu-button {
    font-size: var(--font-size-medium);
    color: rgba(255, 0, 0, 0.84);
    background-color: transparent;
    border: 1px solid transparent;
    padding: 1px 15px;
    width: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 3px 0;
    cursor: url('assets/cursor_hover.png'), auto;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.08);
    position: relative;
    transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-left: 1px solid #c60000;
    outline: none;
}

.menu-button.hovered {
    background-color: var(--hover-bg-color);
    border-color: var(--hover-border-color);
    box-shadow: 0 0 5px var(--hover-shadow-color);
    color: var(--main-text-color);
    text-shadow: 0 2px 5px rgb(255, 0, 0);
}

.menu-button.hovered::before,
.menu-button.hovered::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: var(--main-text-color);
}

.menu-button.hovered::before {
    left: -5px;
}

.menu-button.hovered::after {
    right: -5px;
}

.right-rectangle {
    position: fixed;
    top: 25%;
    right: 51px;
    width: 5px;
    height: 43%;
    border: 2px solid var(--border-color-dark);
    border-left: none;
}

.new-rectangle {
    display: flex;
    position: absolute;
    top: 10px;
    right: 31px;
    width: 90px;
    height: 170px;
}

.bottom-right-rectangle,
.bottom-left-rectangle,
.top-right-rectangle {
    position: absolute;
    width: 15px;
    height: 5px;
    border: 1px solid var(--border-color-white);
}

.bottom-right-rectangle {
    bottom: 0;
    right: 0;
    border-left: none;
    border-top: none;
}

.bottom-left-rectangle {
    bottom: 0;
    left: 0;
    border-right: none;
    border-top: none;
}

.top-right-rectangle {
    top: 0;
    right: 0;
    border-bottom: none;
    border-left: none;
}

.rightbartop {
    position: absolute;
    top: 25px;
}

.rightbarbottom {
    position: absolute;
    top: 85px;
}

.rightbartop, .rightbarbottom {
    right: 0;
    width: 4px;
    height: 55px;
    border: 1px solid var(--border-color-dark);
    border-left: none;
}

.rbb, .rbt {
    position: absolute;
    right: 4px;
    bottom: 4px;
    width: 6px;
    height: 48px;
    background-color: var(--border-color-dark);
}

.icon4 {
    bottom: 5px;
}

.icon4,
.icon5,
.icon6 {
    position: absolute;
    right: 25px;
    height: 13px;
    width: 13px;
    border: transparent;
}

.icon5,
.icon6 {
    display: flex;
}

.icon5 {
    bottom: 35px;
}

.icon6 {
    bottom: 52px;
}

.icon5 p,
.icon6 p {
    font-family: var(--font-family-primary);
    font-size: 7pt;
    letter-spacing: 1px;
    position: absolute;
}

.icon5 p {
    color: rgba(255, 0, 0, 0.37);
    bottom: 8px;
    right: 20px;
}

.icon6 p {
    color: rgba(255, 0, 0, 0.59);
    top: 41px;
    right: 20px;
}

.icon4 img,
.icon5 img,
.icon6 img {
    width: 100%;
    height: auto;
}

.uright-rectangle {
    position: fixed;
    top: 70%;
    right: 51px;
    width: 5px;
    height: 10%;
    border-right: 2px solid var(--border-color-dark);
    border-top: 2px solid var(--border-color-dark);
    border-bottom: 2px solid var(--border-color-dark);
}

.icon7 {
    right: 17px;
    bottom: 155px;
    display: flex;
    position: absolute;
}

.icon7 img {
    width: auto;
    height: 23px;
}

.nrtext1,
.nrtext2,
.nrtext3 {
    font-family: var(--font-family-primary);
    font-size: 9pt;
    letter-spacing: 4px;
    color: rgba(255, 0, 0, 0.68);
    display: flex;
    position: absolute;
}

.nrtext1 {
    left: -13px;
    bottom: 139px;
}

.nrtext2 {
    left: -13px;
    bottom: 120px;
}

.nrtext3 {
    left: 44px;
    bottom: 40px;
}

.button-prompts {
    position: fixed;
    bottom: 10%;
    left: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button-prompt-container {
    display: flex;
    gap: 20px;
}

.select,
.back {
    font-size: var(--font-size-small);
    padding: 0;
    margin-bottom: -10%;
    text-align: right;
    background-color: rgba(255, 0, 0, 0);
    color: rgba(255, 0, 0, 0.55);
    display: flex;
    align-items: center;
}

.select img,
.back img {
    width: 25px;
    height: auto;
    margin-right: 10px;
}

.slider1,
.slider2,
.slider3 {
    position: absolute;
    border: 1px solid rgba(255, 0, 0, 0.31);
    width: 13px;
    height: 40px;
}

.slider1 {
    top: 75%;
    left: 4%;
}

.slider2 {
    bottom: 38px;
    left: 4px;
}

.slider3 {
    bottom: 47px;
    left: -1px;
}

.slider1-container,
.slider2-container,
.slider3-container {
    position: absolute;
    right: 0;
    width: 18px;
    height: 5px;
}

.slider1-container {
    top: 65%;
    background-color: rgba(255, 0, 0, 0.76);
}

.slider2-container {
    background-color: rgba(255, 204, 0, 0.8);
    top: 30%;
}

.slider3-container {
    top: 60%;
    background-color: rgba(255, 0, 0, 0.44);
}

.slider1-text,
.slider2-text {
    font-family: var(--font-family-primary);
    font-size: 10pt;
    letter-spacing: 3px;
    position: absolute;
    color: rgba(255, 0, 0, 0.3);
}

.slider1-text {
    left: 30px;
    bottom: 15px;
}

.slider2-text {
    left: 30px;
    bottom: -5px;
}

.icon1,
.icon2,
.icon3 {
    position: absolute;
    border: transparent;
    height: 25px;
    width: 25px;
}

.icon1 {
    left: -5px;
    bottom: 70px;
}

.icon2 {
    left: 28px;
    bottom: 0;
}

.icon3 {
    left: 0;
    bottom: 28px;
}

.icon1 img,
.icon2 img,
.icon3 img {
    width: 100%;
    height: auto;
}

.looping-gif {
    position: fixed;
    width: 34%;
    right: 80px;
    left: 55%;
    top: 40%;
    transform: translateY(-50%);
    z-index: 1000;
}

.version-info {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: rgba(255, 0, 0, 0.37);
    z-index: 1000;
    font-family: monospace, sans-serif;
}

/* Fade-in animation */
.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
    animation: fadeOut 1s forwards;
}